:root  {
  --tx-l-dir: 1;
  --bg-l-dir: -1;
  --bd-l-dir: -1;
  @media (prefers-color-scheme: dark)  {
    --tx-l-dir: -1;
    --bg-l-dir: 1;
    --bd-l-dir: 1;
  }
}
:root  {
  --base-c: 0.01;
  --base-h: 240;
  --tx-l: 0.22;
  --bg-l: 1;
  --bd-l: 1;
  @media (prefers-color-scheme: dark)  {
    --tx-l: 0.95;
    --bg-l: 0.12;
    --bd-l: 0.12;
  }
  --tx-0: oklch(clamp(0, var(--tx-l) + (0.15 * 0 * var(--tx-l-dir)), 1) var(--base-c) var(--base-h));
  --tx-1: oklch(clamp(0, var(--tx-l) + (0.15 * 1 * var(--tx-l-dir)), 1) var(--base-c) var(--base-h));
  --tx-2: oklch(clamp(0, var(--tx-l) + (0.15 * 2 * var(--tx-l-dir)), 1) var(--base-c) var(--base-h));
  --tx-3: oklch(clamp(0, var(--tx-l) + (0.15 * 3 * var(--tx-l-dir)), 1) var(--base-c) var(--base-h));
  --tx-4: oklch(clamp(0, var(--tx-l) + (0.15 * 4 * var(--tx-l-dir)), 1) var(--base-c) var(--base-h));
  --bg-0: oklch(clamp(0, var(--bg-l) + (0.15 * 0 * var(--bg-l-dir)), 1) var(--base-c) var(--base-h));
  --bg-1: oklch(clamp(0, var(--bg-l) + (0.15 * 1 * var(--bg-l-dir)), 1) var(--base-c) var(--base-h));
  --bg-2: oklch(clamp(0, var(--bg-l) + (0.15 * 2 * var(--bg-l-dir)), 1) var(--base-c) var(--base-h));
  --bg-3: oklch(clamp(0, var(--bg-l) + (0.15 * 3 * var(--bg-l-dir)), 1) var(--base-c) var(--base-h));
  --bg-4: oklch(clamp(0, var(--bg-l) + (0.15 * 4 * var(--bg-l-dir)), 1) var(--base-c) var(--base-h));
  --bd-0: oklch(clamp(0, var(--bd-l) + (0.15 * 0 * var(--bd-l-dir)), 1) var(--base-c) var(--base-h));
  --bd-1: oklch(clamp(0, var(--bd-l) + (0.15 * 1 * var(--bd-l-dir)), 1) var(--base-c) var(--base-h));
  --bd-2: oklch(clamp(0, var(--bd-l) + (0.15 * 2 * var(--bd-l-dir)), 1) var(--base-c) var(--base-h));
  --bd-3: oklch(clamp(0, var(--bd-l) + (0.15 * 3 * var(--bd-l-dir)), 1) var(--base-c) var(--base-h));
  --bd-4: oklch(clamp(0, var(--bd-l) + (0.15 * 4 * var(--bd-l-dir)), 1) var(--base-c) var(--base-h));
}